.page {
  flex: 1 ;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.users {
  margin: 20px;
  padding: 0;
  &__item {
    margin: 20px 0;
    list-style-type: none;
    display: flex;
  }
  &__name{
    width: 150px;
  }
  &__email{
    margin: 0 40px;
    width: 150px;
  }
  &__id{
    margin: 0 40px;
    width: 150px;
  }
  &__tel{
    width: 150px;
  }
}